/* General Styling */
body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: #1e88e5;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #ff5252;
}

/* Header Styling */
.header {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #333;
}

.header h1 {
    margin: 0;
    font-size: 2.5em;
}

.header p {
    margin: 5px 0 0;
    font-size: 1.2em;
    color: #bbb;
}

/* Navbar Styling */
.navbar {
    background-color: #1f1f1f;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    font-size: 1.1em;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
}

.navbar a:hover {
    background-color: #333;
    color: #ff5252;
}

.navbar a i {
    margin-right: 5px;
}

/* Main Content Styling */
main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

h2 {
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
    font-size: 1.8em;
    color: #1e88e5;
}

/* Project Section Styling */
.project-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
}

.project-item:hover {
    transform: translateY(-5px);
}

.project-item img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 20px;
}

.project-details {
    flex: 1;
}

.project-details h2 {
    color: #1e88e5;
    margin-bottom: 10px;
}

.project-details p {
    color: #ccc;
    margin-bottom: 15px;
}

.project-link {
    display: inline-block;
    color: #1e88e5;
    border: 1px solid #1e88e5;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.project-link:hover {
    background-color: #1e88e5;
    color: #fff;
}

/* Footer Styling */
.footer {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #333;
    font-size: 0.9em;
    color: #bbb;
}

/* Responsive Design */
@media (max-width: 768px) {
    .about-me {
        flex-direction: column;
        align-items: center;
    }

    .about-me img {
        margin-bottom: 20px;
    }

    .navbar ul {
        flex-direction: column;
    }

    .navbar li {
        margin: 10px 0;
    }
}
